<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header class="ps_header">
		<p class="post_show_date"><%= @project.created_at.strftime("%A, %b %d") %></p>
		<h1 class="psh"><a href="#"><%= @project.title %></a></h1>
		<hr class="post_hr">
	</header>
	<div id="content">
		<%= @project.description %>
		<div class="button_wrapper">
		<a href="<%= @project.link%>" class="project_button" target="_blank">Visit <%= @project.title %></a>
		</div>
	</div>
	<hr>			
</div>

